.tittle{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    

}

p{
    margin-bottom: 40px;
    font-size: 18px;
}

.parraf{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    text-decoration: none;
    margin-bottom: 40px;
}

.content_header{
    height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.divicion{
    padding: 50px;
    background: rgb(255, 123, 0);
    height: 200vh;
    flex-wrap: wrap;

}

.parrillas{
    text-transform: uppercase;
    justify-content: center;


}

.imgparrillas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img1{
    margin: 40px;
    padding: 40px;
}

.img2{
    margin: 40px;
    padding: 40px;
}

.img3{
    margin: 40px;
    padding: 40px;
}

.calefaccion{
    text-transform: uppercase;
    justify-content: center;
    flex-wrap: wrap;

}

.img4{
    padding: 40px;
    margin: 40px;
}

.img5{
    padding: 40px;
    margin: 40px;
}
.img6{
    padding: 40px;
    margin: 40px;
}

.salamandras{
    text-transform: uppercase;
    justify-content: center;
    color: black;
    flex-wrap: wrap;
}



.img7{
    padding: 40px;
    margin: 40px;
}

.img8{
    padding: 40px;
    margin: 40px;
}

.img9{
    padding: 40px;
margin: 40px;
}

.contacto{
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    margin: 50px;
    padding: 50px;
}

section{
    height: 60vh;
    background-image: url(https://us.123rf.com/450wm/panychev/panychev1608/panychev160800365/61001213-oscuro-negro-fondo-del-suelo-de-madera-piso-de-cerca-ilustraci%C3%B3n.jpg);
    background-size: cover;
}

.contactanos{
    display: flex;
    justify-content: center;
    text-align: center;
 
}
