body{
    text-align: center;
    font-family: sans-serif;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(245, 105, 12);
    position: fixed;
    width: 100%;
    z-index: 100;
}
.logo{
    margin-left: 30px;
}
.logo a{
    text-decoration: none;
    color: azure;
    text-transform: uppercase;
}


.navbar{
    display: flex;
    margin-right: 10px;
}

.navbar a{
    display: block;
    padding: 23px 20px;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover{
    background: rgba(231, 98, 9, 0.979);
}

.content_header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.content_header{
   background-image: url(https://scontent.faep8-1.fna.fbcdn.net/v/t39.30808-6/261508260_4451045294943910_905028214029216011_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=e3f864&_nc_ohc=UO5VV1DUhP8AX8ypSHC&_nc_ht=scontent.faep8-1.fna&oh=00_AT_Kx7RoPnE625OUCjD8xqbV8U2tAwY_U9TX9YbCU2QDlQ&oe=62F9D1AF) ;
   background-size: cover
}

@media screen and (min_widht:800px){
    .header{
        height: 600px;
        padding: 800px;
    }
}

